{% extends 'base.html' %}


{% block content %}

<table class="table table-striped">

    <tr>
        <th>ID</th>
        <th>Class</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>

    </tr>
    {% for i in employee %}
    <tr>

        <td>{{ i.eid }}</td>
        <td>{{ i.eclass }}</td>
        <td>{{ i.ename }}</td>
        <td>{{ i.eemail }}</td>
        <td>{{ i.econtact }}</td>
        <td>
           
            <button type="button" class="btn btn-outline-primary"> <a href="edit/{{ i.id }}" style="text-decoration:none"; >Edit</a></button> 
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger"> <a href="delete/{{ i.id }}" style="text-decoration:none";  >Delete</a></button> 
         
        </td>

    </tr>


    {% endfor %}

</table>
{% endblock %}